# Banco de dados
DB_HOST=localhost
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASS=sua_senha

# Segurança da aplicação
ENCRYPTION_KEY=UmaChaveMuitoForteDe32Caracteres!
CRON_SECURE_TOKEN=coloque_um_token_forte_aqui

# Fish Audio
FISH_API_KEY=sua_chave_api
FISH_REFERENCE_ID_FRONT=78c1c2afbe86411f9c2cd213d25aa78a
FISH_REFERENCE_ID_BACK=1e4abcd5c0294c7c82293612c6bf0351
