# Banco de dados
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

# Criptografia
ENCRYPTION_KEY=

# Fish Audio
FISH_API_KEY=
FISH_REFERENCE_ID_FRONT=78c1c2afbe86411f9c2cd213d25aa78a
FISH_REFERENCE_ID_BACK=1e4abcd5c0294c7c82293612c6bf0351

# OpenAI
OPENAI_API_KEY=

# DeepL
DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
