# Banco de dados
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Criptografia
ENCRYPTION_KEY=

# Fish Audio
FISH_API_KEY=
FISH_REFERENCE_ID_FRONT=
FISH_REFERENCE_ID_BACK=

# OpenAI
OPENAI_API_KEY=

# DeepL
DEEPL_API_KEY=
DEEPL_API_URL=https://api-free.deepl.com/v2/translate
